<html>
<header><title>Be smart</title></header>
<body><p>
Hello world of DevOps!</p>
<br>
<p>VARS by Jinja Template: HOST={{ ansible_hostname }}, OS={{ ansible_os_family }}, IP={{ ansible_default_ipv4.address }} !!!</p>
</body>
</html>
